<main id="main" class="main">
  <div class="pagetitle">
    <h1>Profile</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item active">My Profile</li>
      </ol>
    </nav>
  </div><!-- End Page Title -->
  <section class="section profile">
    <div class="row">

      <div class="col-xl-4">
        <div class="card">
          <form #uploadImageForm='ngForm' (ngSubmit)="uploadImage()">
            <div class="card-body profile-card d-flex pt-4 flex-column align-items-center">

              <div style="opacity: 0;   position: absolute;  z-index: -1; visibility: hidden;">
                <input name="image" type="file" class="form-control" id="profileImage"
                       (change)='onImageSelected($event)'>
              </div>

              <!--<img src="assets/img/images.png" *ngIf="!(user.image || imagePreview)" alt="Profile1">-->
              <!--<img [src]="imagePreview" *ngIf="imagePreview" alt="Profile2" class="rounded-circle">-->
              <img [src]="imageSource$|async" alt="Image Profile" class="rounded-circle">

              <h2>{{user?.firstName}}</h2>
              <div class="pt-3">
                <ng-container *ngIf="imageIsChanged$|async ;then save else upload"></ng-container>
                <ng-template #upload>
                  <button  type="button"
                    class="btn btn-outline-success me-2" title="Upload new profile image">
                    <label for="profileImage">Upload</label>
                  </button>
                  <button (click)="deleteImage(user._id)" [disabled]="disableDeleteImage$| async" type="button"
                          class="btn btn-outline-danger" title="Remove my profile image">Delete
                  </button>
                </ng-template>
                <ng-template #save>
                  <button type="submit" style="width: 200px" class="btn btn-outline-success" title="Upload my profile image">Save
                  </button>
                </ng-template>
              </div>

              <div class="social-links mt-2"></div>
            </div>

          </form>
        </div>
      </div>

      <div class="col-xl-8">
        <div class="card">
          <div class="card-body pt-3">

            <ul class="nav nav-tabs nav-tabs-bordered">
              <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab"
                        data-bs-target="#profile-overview">Overview
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit
                  Profile
                </button>
              </li>
              <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab"
                        data-bs-target="#profile-change-password">Change Password
                </button>
              </li>
            </ul>

            <div class="tab-content pt-2">
              <!-- ----------------       profile-overview     ------------------------------------ -->
              <div class="tab-pane fade show active profile-overview" id="profile-overview">
                <h5 class="card-title">Profile Details</h5>
                <div class="row">
                  <div class="col-lg-3 col-md-4 label ">First Name</div>
                  <div class="col-lg-9 col-md-8">{{user?.firstName}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Last Name</div>
                  <div class="col-lg-9 col-md-8">{{user?.lastName}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Address</div>
                  <div class="col-lg-9 col-md-8">{{user?.address}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Phone</div>
                  <div class="col-lg-9 col-md-8">{{user.phone}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Username</div>
                  <div class="col-lg-9 col-md-8">{{user?.username}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Email</div>
                  <div class="col-lg-9 col-md-8">{{user?.email}}</div>
                </div>

                <div class="row">
                  <div class="col-lg-3 col-md-4 label">Role</div>
                  <div class="col-lg-9 col-md-8">
                    <div *ngFor="let r of user.role" class="mb-2">{{r.role}}</div>
                  </div>
                </div>
              </div>

              <!-- ----------------       profile-edit      ------------------------------------ -->
              <div class="tab-pane fade profile-edit pt-3" id="profile-edit">
                <!-- Profile Edit Form -->
                <form [formGroup]="editUserForm">

                  <div class="row mb-3">
                    <label for="firstName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="firstName" type="text" class="form-control" id="firstName"
                             formControlName="firstName" [(ngModel)]='user.firstName'>
                      <div class="pt-1" *ngIf='editUserForm.controls["firstName"].invalid
                                                                    && (editUserForm.controls["firstName"].dirty||
                                                                    editUserForm.controls["firstName"].touched)'>
                        <div *ngIf='editUserForm.controls["firstName"].errors.required' style="color: red;">
                          This field is mandatory
                        </div>
                        <div *ngIf='editUserForm.controls["firstName"].errors.pattern' style="color: red;">
                          This field is invalid
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="lastName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="lastName" type="text" class="form-control" id="lastName" formControlName="lastName"
                             [(ngModel)]='user.lastName'>
                      <div class="pt-1" *ngIf='editUserForm.controls["lastName"].invalid
                                                                      && (editUserForm.controls["lastName"].dirty||
                                                                      editUserForm.controls["lastName"].touched)'>
                        <div *ngIf='editUserForm.controls["lastName"].errors.required' style="color: red;">
                          This field is mandatory
                        </div>
                        <div *ngIf='editUserForm.controls["lastName"].errors.pattern' style="color: red;">
                          This field is invalid
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="address" class="col-md-4 col-lg-3 col-form-label">Address</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="address" type="text" class="form-control" id="address" formControlName="address"
                             [(ngModel)]='user.address'>
                      <div class="pt-1" *ngIf='editUserForm.controls["address"].invalid
                                                                        && (editUserForm.controls["address"].dirty||
                                                                        editUserForm.controls["address"].touched)'>
                        <div *ngIf='editUserForm.controls["address"].errors.required' style="color: red;">
                          This field is mandatory
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="phone" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="phone" type="text" class="form-control" id="phone" formControlName="phone"
                             [(ngModel)]='user.phone'>
                      <div class="pt-1" *ngIf='editUserForm.controls["phone"].invalid
                                                                          && (editUserForm.controls["phone"].dirty||
                                                                          editUserForm.controls["phone"].touched)'>
                        <div *ngIf='editUserForm.controls["phone"].errors.required' style="color: red;">
                          This field is mandatory
                        </div>
                        <div *ngIf='editUserForm.controls["phone"].errors.pattern' style="color: red;">
                          This field is invalid
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row mb-3">
                    <label for="username" class="col-md-4 col-lg-3 col-form-label">Username</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="username" type="text" class="form-control" id="username" formControlName="username"
                             [(ngModel)]='user.username'>
                      <div class="pt-1" *ngIf='editUserForm.controls["username"].invalid
                                                                            && (editUserForm.controls["username"].dirty||
                                                                            editUserForm.controls["username"].touched)'>
                        <div *ngIf='editUserForm.controls["username"].errors.required' style="color: red;">
                          This field is mandatory
                        </div>
                        <div *ngIf='editUserForm.controls["username"].errors.pattern' style="color: red;">
                          This field is invalid
                        </div>
                      </div>
                    </div>
                  </div>
                  <span id="msgErrorUser"></span>
                  <div class="text-center">
                    <button type="submit" (click)="updateUser()"
                            [disabled]="!(editUserForm.valid && editUserForm.dirty)" class="btn btn-primary">Save
                      Changes
                    </button>
                  </div>
                </form><!-- End Profile Edit Form -->

              </div>

              <!-- ----------------       changePasswordForm      ------------------------------------ -->
              <div class="tab-pane fade pt-3" id="profile-change-password">
                <!-- Change Password Form -->
                <form [formGroup]="changePasswordForm">

                  <div class="row mb-3">
                    <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="password" type="password" class="form-control" [(ngModel)]="user.password"
                             formControlName="password" id="currentPassword">
                      <div *ngIf='changePasswordForm.controls["password"].invalid
                                                        &&(changePasswordForm.controls["password"].dirty||
                                                        changePasswordForm.controls["password"].touched)'>
                        <div *ngIf='changePasswordForm.controls["password"].errors.required' style="color: red;">
                          Please enter your current password!
                        </div>
                      </div>

                      <span id="msgError"></span>

                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="newPassword" type="password" class="form-control" [(ngModel)]="user.newPassword"
                             formControlName="newPassword" id="newPassword">

                      <div *ngIf='changePasswordForm.controls["newPassword"].invalid
                                                        &&(changePasswordForm.controls["newPassword"].dirty||
                                                        changePasswordForm.controls["newPassword"].touched)'>
                        <div *ngIf='changePasswordForm.controls["newPassword"].errors.required' style="color: red;">
                          Please enter your new password!
                        </div>
                        <div *ngIf='changePasswordForm.controls["newPassword"].errors.pattern' style="color:red">
                          The new password must have at least 6 characters, one uppercase letter, one
                          lowercase letter, one number, special characters
                        </div>
                      </div>

                    </div>
                  </div>

                  <div class="row mb-3">
                    <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                    <div class="col-md-8 col-lg-9">
                      <input name="reNewPassword" type="password" class="form-control" [(ngModel)]="user.reNewPassword"
                             formControlName="reNewPassword" id="renewPassword">

                      <div *ngIf='changePasswordForm.controls["reNewPassword"].invalid
                                                        &&(changePasswordForm.controls["reNewPassword"].dirty||
                                                        changePasswordForm.controls["reNewPassword"].touched)'>
                        <div *ngIf='changePasswordForm.controls["reNewPassword"].errors.required' style="color: red;">
                          This field is mandatory.
                        </div>
                        <div *ngIf='changePasswordForm.controls["reNewPassword"].errors.mustMatch' style="color: red;">
                          New Password & Confirm Password does not match.
                        </div>
                      </div>

                    </div>
                  </div>
                  <div class="text-center">
                    <button type="submit" (click)="changePassword()" class="btn btn-primary"
                            [disabled]="!(changePasswordForm.valid && changePasswordForm.dirty)">Change Password
                    </button>
                  </div>
                </form><!-- End Change Password Form -->

              </div>

            </div><!-- End Bordered Tabs -->
          </div>
        </div>
      </div>
    </div>
  </section>
</main><!-- End #main -->
