<main>
    <div class="container">
        <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 col-md-6 d-flex flex-column align-items-center justify-content-center">
                        <div class="d-flex justify-content-center py-4">
                            <a href="#" class="logo d-flex align-items-center w-auto">
                                <img src="../../../assets/img/logo.png" alt="">
                                <span class="d-none d-lg-block">Welyne</span>
                            </a>
                        </div>
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="pt-4 pb-2">
                                    <h5 class="card-title text-center pb-0 fs-4">Reset password</h5>
                                    <p class="text-center small">Enter your password & confirm password </p>
                                </div>

                                <form class="row g-3 pb-4 needs-validation" novalidate [formGroup]="resetPasswordForm">

                                    <div class="col-12">
                                        <label for="your-password" class="form-label">Password</label>
                                        <input type="password" name="password" class="form-control" id="your-password" formControlName="password"  required>
                                        <div class="pt-1" *ngIf='resetPasswordForm.controls["password"].invalid
                                                  &&(resetPasswordForm.controls["password"].dirty||
                                                  resetPasswordForm.controls["password"].touched)'>
                                          <div *ngIf='resetPasswordForm.controls["password"].errors.required' style="color: red;">
                                            This field is required
                                          </div>
                                          <div *ngIf='resetPasswordForm.controls["password"].errors.pattern' style="color:red">
                                            The password must have at least 6 characters, one uppercase letter, one
                                            lowercase letter, one number, special characters </div>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <label for="yourConfirmPwd" class="form-label">Confirm Password</label>
                                        <input type="password" name="confirmPwd" class="form-control" id="yourConfirmPwd" formControlName="confirmPwd" required>
                                        <div class="pt-1" *ngIf='resetPasswordForm.controls["confirmPwd"].invalid
                                                  &&(resetPasswordForm.controls["confirmPwd"].dirty||
                                                  resetPasswordForm.controls["confirmPwd"].touched)'>
                                          <div *ngIf='resetPasswordForm.controls["confirmPwd"].errors.required'
                                               style="color: red;">
                                            This field is required
                                          </div>
                                          <div *ngIf='resetPasswordForm.controls["confirmPwd"].errors.mustMatch' style="color: red;">
                                            Please confirm didn't match!
                                          </div>
                                        </div>
                                    </div>

                                    <div class="col-12 pt-2">
                                        <button (click)="reset(resetPasswordForm.value)" [disabled]="!(resetPasswordForm.valid && resetPasswordForm.dirty)" class="btn btn-primary w-100"
                                            type="submit">Reset</button>
                                    </div>

                                </form>
                            </div>
                        </div>
                        <div class="credits"></div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</main>
