<main id="main" class="main">
  <div class="pagetitle">
    <h1>Manage Purchase Product</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/home">Home</a></li>
        <li class="breadcrumb-item">Stock</li>
        <li class="breadcrumb-item active">Purchase Product</li>
      </ol>
    </nav>
  </div>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{formType == FORM_TYPE.ADD ? 'Add' : 'Edit'}} Product</h5>
            <form class="row" [formGroup]="productAchatForm" *ngIf="productAchat$ | async as productAchat">

              <div class="col-md-6 pb-2">
                <label class="form-label">Name</label>
                <input type="text" class="form-control" formControlName="name" [(ngModel)]="productAchat.name">

                <div class="pt-1" *ngIf='productAchatForm.controls["name"].invalid
                                        && (productAchatForm.controls["name"].dirty||
                                        productAchatForm.controls["name"].touched)'>
                  <div *ngIf='productAchatForm.controls["name"].errors.required' style="color: red;">
                    This field is mandatory
                  </div>
                  <div *ngIf='productAchatForm.controls["name"].errors.pattern' style="color: red;">
                    This field is invalid
                  </div>
                </div>
              </div>

              <div class="col-md-6 pb-2">
                <label class="form-label">Category</label>
                <select class="form-select " data-live-search="true" id="inputcategoryId"
                        name="categoryId" formControlName="categoryId" [(ngModel)]="productAchat.categoryId">
                  <!-- <option value=""  selected>Choose Category...</option> -->
                  <!-- <option [ngValue]="null" selected disabled>Choose Category...</option>-->
                  <option [ngValue]="null" selected disabled>Choose Category...</option>
                  <option *ngFor="let c of categories$ | async" [ngValue]="c.name">{{c.name}}</option>
                </select>
                <div class="pt-1" *ngIf='productAchatForm.controls["categoryId"].invalid
                                        && (productAchatForm.controls["categoryId"].dirty||
                                        productAchatForm.controls["categoryId"].touched)'>
                  <div *ngIf='productAchatForm.controls["categoryId"].errors.required' style="color: red;">
                    This field is mandatory
                  </div>
                </div>
              </div>

              <div class="col-md-6 pb-2">
                <label class="form-label">Quantity</label>
                <input type="text" class="form-control" formControlName="quantity" [(ngModel)]="productAchat.quantity">

                <div class="pt-1" *ngIf='productAchatForm.controls["quantity"].invalid
                                        && (productAchatForm.controls["quantity"].dirty||
                                        productAchatForm.controls["quantity"].touched)'>
                  <div *ngIf='productAchatForm.controls["quantity"].errors.required' style="color: red;">
                    This field is mandatory
                  </div>
                  <div *ngIf='productAchatForm.controls["quantity"].errors.pattern' style="color: red;">
                    This field is invalid
                  </div>
                </div>
              </div>

              <div class="col-md-6 pb-2">
                <label class="form-label">Description</label>
                <textarea class="form-control" style="height: 0px" id="description" name="description"
                          formControlName="description"
                          [(ngModel)]="productAchat.description" required></textarea>
                <div class="pt-1" *ngIf='productAchatForm.controls["description"].invalid
                                        && (productAchatForm.controls["description"].dirty||
                                        productAchatForm.controls["description"].touched)'>
                  <div *ngIf='productAchatForm.controls["description"].errors.required'
                       style="color: red;">
                    This field is mandatory
                  </div>
                </div>
              </div>

              <div class="text-rigth mt-1">
                <ng-container *ngIf="formType == FORM_TYPE.ADD;then add else edit"></ng-container>
                <ng-template #add>
                  <button type="submit" class="btn btn-primary me-2" (click)="addProductAchat()"
                          [disabled]="!(productAchatForm.valid && productAchatForm.dirty)">Add
                  </button>
                </ng-template>
                <ng-template #edit>
                  <button type="submit" class="btn btn-primary me-2" (click)="updateProductAchat()"
                          [disabled]="!(productAchatForm.valid && productAchatForm.dirty)">Update
                  </button>
                  <button (click)="cancelEdit()" type="submit" class="btn btn-warning" routerLink="../../../stock/product/purchase"><i
                    class="fa fa-arrow-left" aria-hidden="true"></i></button>
                </ng-template>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <!-- <div class="py-3 col-6">
                  <a (click)="handleAddAction()" class="btn btn-primary" title="Add role"><i
                          class="fa fa-plus-circle" aria-hidden="true"></i></a>
              </div> -->
              <div class="py-3 col-sm-5">
                <form>
                  <input [(ngModel)]="searchValue" [ngModelOptions]="{standalone: true}" type="text" placeholder="Search" class="form-control" title="Enter search keyword">
                </form>
              </div>
            </div>
            <div class="table-responsive">
              <table class="table table-bordered border-primary">
                <thead>
                <tr>
                  <th scope="col">Name</th>
                  <th scope="col">Category</th>
                  <th scope="col">Description</th>
                  <th scope="col">Quantity</th>
                  <th scope="col">Status</th>
                  <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let product of productAchats$ | async | purchaseProductFilter: searchValue">
                  <th scope="row">{{product.name}}</th>
                  <td>{{product.categoryId}}</td>
                  <td>{{product.description}}</td>
                  <td>{{product.quantity}}</td>
                  <td>
                    <div class="form-check form-switch disabledDiv">
                      <input class="form-check-input" #checkbox type="checkbox" [checked]="checkQuantity(product.quantity)" >
                    </div>
                    <!--<div class="form-check form-switch" (change)="changeStatus(product,checkbox.checked)"> &lt;!&ndash; event.target = checkbox&ndash;&gt;-->
                    <!--  <input class="form-check-input" #checkbox type="checkbox" [checked]="product.status">-->
                    <!--</div>-->
                  </td>
                  <td><a (click)="editProductAchat(product._id)" class="btn btn-success btn-sm me-2"
                         title="Edit Product"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a (click)="deleteProductAchat(product._id)" class="btn btn-danger btn-sm"
                       title="Remove Product"><i class="bi bi-trash"></i></a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
